<div class="blog-container">
    <form class="blog-form" method="post" action=<?php echo $block->getUrl('blog/manage/save'); ?> data-mage-init='{"validation": {}}'>
        Title: <input type="text" name="title" class="required-entry"/>
        Content: <textarea name="content" class="required-entry validate-no-html-tags"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>