<div class="owl-carousel owl-theme">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
    <div class="item"><h4>6</h4></div>
    <div class="item"><h4>7</h4></div>
    <div class="item"><h4>8</h4></div>
    <div class="item"><h4>9</h4></div>
    <div class="item"><h4>10</h4></div>
    <div class="item"><h4>11</h4></div>
    <div class="item"><h4>12</h4></div>
</div>
<button class="testhoi">Testhoi</button>
<fieldset class="fieldset">
    <div class="field required">
        <label class="label"
               for="json_out"><span><?php echo $block->escapeHtml(__('Output')) ?></span></label>
        <div class="input-box control">
            <input name="json_out" id="json_out" title="<?php echo $block->escapeHtml(__('Output')) ?>"
                   value="" class="input-text required-entry" type="text">
        </div>
    </div>
    <div class="field">
        <div class="primary">
            <button type="submit" class="action submit primary btn_put_json"><span>Put Json Data</span></button>
        </div>
    </div>
</fieldset>
<script>
    require(
        [
            'jquery','owlcarousel'
        ],
        function (
            $
        ) {
            $('body').on('click', '.btn_put_json', function () {

                var self = $(this);
                var url = "<?php echo $block->getUrl() . 'customajax/product/ReturnJson' ?>";
                try {

                    $.ajax({
                        url: url,
                        type: 'POST',
                        showLoader: true,
                        success: function (data) {
                            alert('test');
                            
                        },
                        error: function (jqXHR, exception) {
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }
                            alert(msg);
                        },
                    });
                } catch (e) {
                    alert('ccc');
                }

            });
             $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        });
        });


</script>
<script type="text/x-magento-init">
     {
        ".owl-theme": {
            "OpenTechiz_CustomAjax/js/custom":{}          
        }
    } 
</script>